# Telegram 机器人配置
TELEGRAM_BOT_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TELEGRAM_USER_ID=xxxxxxxxxxxxxx

# GitHub 配置
GITHUB_SECRET=xxxxxxxxxxxxxxxxxxx
GITHUB_FILE_REPO=moments-files
GITHUB_USERNAME=your-github-username
GITHUB_REPO=moments
GITHUB_USER_AGENT=moments-bot/1.0 
